li {
  list-style-type: none;
}

.flexCategorias {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.categoriasBlock {
  border: 4px solid black;
  border-radius: 20px;
  margin: 0 1%;
  padding: 2% 1%;
  width: 25%;
}

.categoriaTitle {
  margin-bottom: 20px;
}

.categoriaLi {
  padding: 5px 0;
}

.categoriaInput {
  margin-right: 10px;
}
