.containerBusca {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.itemBusca {
  border: 2px solid black;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  margin: 30px 1%;
  overflow: hidden;
  width: 30%;
}

.itemTeste {
  background-color: yellow;
}

.itemTitulo {
  background-color: rgb(216, 216, 216);
  padding: 0 5%;
}

a .itemTituloTexto {
  color: black;
  font-size: 20px;
  text-align: center;
}

.itemCorpo {
  padding: 0 5%;
  text-align: center;
}

.itemImage {
  width: 50%;
}

.itemBotaoAdd {
  background-color: white;
  border: 1px solid black;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0.8em 0.5em;
}

.itemBotaoAdd:hover {
  background-color: rgb(72, 72, 72);
  color: white;
}
